body {
    background-color: yellow;
}
  
h1 {
  color: navy;
  margin-left: 200px;
}

#test{
  background-color: blue;
  border-style: dotted;
  border-color: blue;
}

<style>
.bold {
    font-weight: bold;
}
</style>
